<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TER List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Student Groups List</h1>
<a href="addStudentGroup">Add student group</a>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Students</th>
        </tr>
        <tr th:each ="studentGroup : ${studentGroups}">
            <td th:utext="${studentGroup.name}">...</td>
            <td>
                <ul>
                    <li th:each="student : ${studentGroup.studentList}" th:text="${student.lastName}">...</li>
                </ul>
            </td>
            <td><a th:href="@{/joinStudentGroup/{id}(id=${studentGroup.id})}">Join</a>
                <a th:href="@{/leaveStudentGroup/{id}(id=${studentGroup.id})}">Leave</a></td>
        </tr>
    </table>
</div>
</body>
</html>